

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
	font-size: 16px;
}
.color1{
	color: #ff4444; 
}
.color2{
	color: #33b5e5;	
}

.color3{
	color: #8e44ad; 
}
.color4{
	color: #2ecc71;
}
.color5{
	color: #ff0;
}
.ejemplos{
	padding: 10px;
	border: 1px solid #dddddd;
	background: #eee;
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
}
 .app{
 	font-size: 50px;
 }

.contenido-scrollspy{
	overflow-y: scroll; 
	height: 550px;
}

body{
	font-family: 'Open Sans', 'sans-serif';
	background: #d1d1d1;
}

.navbar-nav>li>.dropdown-menu{
	margin-top: 20px;
	border-top-left-radius: 4px;
	border-top-right-radius:  4px;
}
.mega-dropdown{
	position: static !important;
	width: 100%;

}
.mega-dropdown-menu{
	padding: 20px 20px;
	width: 100%;
	box-shadow: none;
	webkit-box-shadow:none;
}
.btn-devcode{
	background: #33b5eb;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 30px;
	color: white;
	border-radius: 0;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}

.app-justificar{
	text-align: justify;
}


.mega-dropdown-menu:before{
	border-bottom: 15px solid #fff;
	border-right: 17px solid transparent;
	border-left: 17px solid transparent;
	position: absolute;
	top: -15px;
	left: 239px;
	z-index: 10;
}

.mega-dropdown-menu:after{
	border-bottom: 17px solid #fff;
	border-right: 19px solid transparent;
	border-left: 19px solid transparent;
	position: absolute;
	top: -17px;
	left: 237px;
	z-index: 8
}


